


:root{
    --background: #ffffd0;
    --black: #111118;
    --imdb: #e4160d;
    --metascore: #177a7d;
    --highlight: rgba(0, 0, 0, 0.05);
}


body {
    font-family: Space Mono;
    font-size: 18px;
    line-height: 1.5;
    color: var(--black);
    margin: 40px auto 40px auto;

    max-width: 960px;

    background-color: var(--background);
}